// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext);
body {
  font-family: 'Poiret One', cursive;
}
img.right {
  float: right;
}
.parent { overflow: hidden }

.panel-title {
  font-size: 22px;
}
